.d-block{
    max-height: 93vh;
    opacity: 0.87;
    object-fit: cover;
}

.carousel-caption h3, p{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

